<div class="flex justify-center py-10" style="background-color: #F4F4F4;">
  <div class="bg-white pt-8 pb-8 px-8 rounded-xl shadow-lg w-full max-w-md mt-[10.4rem] mb-[4rem] text-center">

    <h2 class="text-3xl font-bold text-[#004865] mb-6">
      お問い合わせ完了
    </h2>

    <p class="text-sm text-gray-600 mb-6 leading-relaxed">
      お問い合わせありがとうございました。<br>
      内容を確認のうえ、必要に応じてご連絡いたします。
    </p>

    <div class="mt-8">
      <%= link_to "トップページへ戻る",
            root_path,
            class: "w-full inline-block bg-[#986321] text-white text-lg py-2.5 rounded-lg hover:opacity-90 transition" %>
    </div>

  </div>
</div>
