<% content_for :main_height do %>
  h-auto
<% end %>

<% content_for :main_bg do %>
  bg-white
<% end %>

<section class="flex flex-col items-center text-center text-[#004865] pt-14 pb-12 bg-white">
  <h2 class="catch-copy text-5xl font-bold mb-6">「知る」から「感じる」へ</h2>

  <p class="text-[22px] leading-relaxed max-w-2xl mt-4">
    色彩心理が映し出す“本の色”を通して、<br>
    感性でつながる新しい読書体験を
  </p>
</section>

<%= render "homes/step_guide" %>

<div class="bg-[#F4F4F4] pt-10 pb-14 w-full">
  <h3 class="text-2xl font-bold text-[#004865] text-center mb-6">
    人気のレビュー
  </h3>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 px-7 pt-2">
    <% @top_reviews.each do |review| %>
      <%= render "reviews/review_card", review: review %>
    <% end %>
  </div>

  <div class="w-full flex justify-center mt-6">
    <%= link_to "レビューをもっと見る",
        reviews_path,
        class: "px-6 py-3 bg-[#986321] text-white text-lg rounded-lg hover:opacity-90 transition" %>
  </div>
</div>
