<section class="h-[80vh] flex flex-col justify-start items-center text-center bg-white text-[#004865] pt-24">
  <h2 class="catch-copy text-5xl font-bold mb-6">「知る」から「感じる」へ。</h2>
  <p class="text-[22px] leading-relaxed max-w-2xl mt-4">
    色彩心理が映し出す“本の色”を通して、<br>
    感性でつながる新しい読書体験を。
  </p>
</section>
