<div class="flex justify-center items-center min-h-[87vh]">
  <div class="w-full max-w-3xl my-[1.5rem] pb-[1.5rem]">

    <h2 class="text-3xl font-bold text-center text-[#004865] mb-8">
      レビューの投稿
    </h2>

    <div class="bg-white pt-8 pb-10 px-10 rounded-xl shadow-lg space-y-4">

      <div class="mb-2">
        <h3 class="text-xl font-semibold text-[#004865]">投稿する内容</h3>
      </div>

      <%= render "form", review: @review, submit_label: "投稿する" %>

    </div>
  </div>
</div>
