<footer class="bg-[#E0E0E2] text-[#004865] text-xs border-t border-gray-300 py-3 px-10">
  <div class="flex justify-between items-center">
    <div class="flex flex-wrap justify-center gap-4 text-[#004865] text-xs">
      <span class="relative cursor-pointer after:content-[''] after:absolute after:right-[-8px] after:top-1/2 after:-translate-y-1/2 after:w-px after:h-3 after:bg-gray-400 last:after:hidden">
        利用規約
      </span>
      <span class="relative cursor-pointer after:content-[''] after:absolute after:right-[-8px] after:top-1/2 after:-translate-y-1/2 after:w-px after:h-3 after:bg-gray-400 last:after:hidden">
        プライバシーポリシー
      </span>

      <%= link_to "お問い合わせ", new_contact_path,
            class: "hover:underline cursor-pointer" %>

    </div>
    <p>© 2025 Book Image</p>
  </div>
</footer>
