<p><%= @resource.name %> 様</p>

<p>Book Image にて、パスワード再設定のご依頼を受け付けました。</p>
<p>以下のリンクから、新しいパスワードを設定できます。</p>

<p style="margin: 20px 0;">
  <%= link_to 'パスワードを再設定する', edit_password_url(@resource, reset_password_token: @token) %>
</p>

<p>※心当たりがない場合は、このメールは破棄してください。</p>
